<h2>Welcome to your Dashboard.</h2>
<p>
  Come here to see the status of your progress and view motivational messages.
</p>

<h3>Current track: <%= current_track.title %></h3>
<h5>You have completed <%= "#{current_track.completed_lessons} of #{current_track.lessons.count}" %> lessons.</h5>
<p>Click on the 'Lessons' menu item to visit your <%= link_to 'lessons', lessons_path %>.</p>
