<h1>Welcome</h1>

<p>
  The Learn-Co companion is an application aimed at helping you learn more effectively as you
  progress through the Learn curriculum.  As you move through the lessons, you can take notes,
  create your own custom tags, and monitor your progress.  The search button allows you to
  search your notes, tags, and lesson titles to quickly find what you need to solve that
  pressing lab problem.
</p>
<p>
  Use the Sign-up button above to create an account, or log in through your github or
  facebook account using the links below.
</p>
<p>
  <strong>NOTE: This app is currently a demonstration, so the curriculum data presented here are
  not live.</strong>  Notes and tags, however, are.
</p>

<%= link_to "Sign in with Facebook", student_facebook_omniauth_authorize_path %>
<br />
<%= link_to "Sign in with Github", student_github_omniauth_authorize_path %>
