<div class='breadcrumb-menu'>
  <%= link_to current_track.title, lessons_path %> &gt;
  <%= link_to lesson.unit.topic.title, element_path(lesson.unit.topic) %> &gt;
  <%= link_to lesson.unit.title, element_path(lesson.unit) %> &gt;
  <%= link_to lesson.title, lesson_path(lesson) %> &gt;
</div>
