<div class='btn-toolbar'>
  <div class="btn-group" role="group">

    <%= nav_button_for(lesson,'Index') %>
    <%= nav_button_for(lesson, 'Previous') %>
    <%= nav_button_for(lesson, 'Next') %>

  </div>

  <div class='btn-group' role='group'>
    <%= nav_button_for(lesson, 'Edit') %>
  </div>
</div>
