<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion_track" <%= href_for(topic) %>>
              <%= topic.title %>
            </a>
        </h4>
    </div>
    <div <%= id_for(topic) %> class="panel-collapse collapse">
        <div class="panel-body">
            <div class="panel-group" id='accordion_topic_<%"#{topic.id}"%>'>
              <% topic.units.each do |unit| %>
                <%= render partial: 'lessons/unit', locals: {unit: unit} %>
              <% end %>
            </div>
        </div>
    </div>
</div>
