<%= render partial: 'lesson_header', locals: {lesson: @lesson} %>

<div class='tags panel panel-default'>
  <div class='panel-heading'>Available Tags</div>
  <%= render partial: 'tags_form', locals: {lesson: @lesson} %>
</div>
