<h1>
<%= current_track.title %>
</h1>

<div class="panel-group" id="accordion_track">
  <%= render partial: 'topic', collection: @topics %>
</div>

<script id="index-template" type="text/x-handlebars-template">
  <div>
    <i class="fa {{statusIconName}}"></i>
    <i class="fa {{typeIconName}}"></i>
    <a href="/lessons/{{id}}">{{title}}</a>
  </div>
</script>
