<h1>
Full Stack Web Dev. With React
</h1>

<div class="panel-group" id="accordion_track">
  <% @topics.each do |topic| %>
  <%= render partial: 'lessons/topic', locals: {topic: topic} %>
  <% end %>
</div>
