<div id='lesson-content' data-lesson-url=<%= lesson_path @lesson %>>

</div>

<script id="lesson-template" type="text/x-handlebars-template">
  <div class="btn-toolbar">
    <div class="btn-group" role="group">
      <a href="/lessons"><button type="button" class="btn btn-default">Index</button></a>
      <a href={{previous_lesson_link}}><button type="button" class="btn btn-default page-button">Previous</button></a>
      <a href="{{next_lesson_link}}"><button type="button" class="btn btn-default page-button">Next</button></a>
    </div>
  </div>

  <h3>
    <i class="fa {{statusIconName}}"></i>
    <i class="fa {{typeIconName}}"></i>
    <a target="_blank" href="{{url}}">{{title}}</a>
  </h3>
  {{> tagsPartial }}
  {{> notesPartial }}
</script>

<script id="lesson-tags-partial" type="text/x-handlebars-template">
  <div class="tags panel panel-default">
    <div class="panel-heading">
      <span>Tags</span>
      <a href="/lessons/{{id}}/edit"><button type="button" class="btn btn-default tags-button">Tags</button></a>
    </div>
    <div class="tag-list panel-body">
      {{#if sortedTags }}
        {{#each sortedTags}}
          <div>{{category}}</div>
        {{/each}}
      {{ else }}
        <p>You have no tags for this lesson.</p>
      {{/if}}
    </div>
  </div>
</script>

<script id='lesson-notes-partial' type='text/x-handlebars-template'>
  <div id='notes-panel' class='notes panel panel-default'>
    <div class="panel-heading">
      <span>Notes</span>
      <a href="#"><button type="button" class="btn btn-default notes-button">Edit</button></a>
    </div>
    <div class="panel-body">
      <div id='notes-show'>
        {{#if hasNotes}}
          <p>{{notes.content}}</p>
        {{ else }}
          <p>You have no notes for this lesson.</p>
        {{/if}}
      </div>
      <div id='notes-edit' style='display: none;'>
        <form class="new_note" id="new_note" action="/lessons/{{id}}/notes" accept-charset="UTF-8" method="post">
          <input type="hidden" value="{{student.id}}" name="note[student_id]" id="note_student_id" />
          <input type="hidden" value="{{id}}" name="note[lesson_id]" id="note_lesson_id" />
          <textarea name="note[content]" id="note_content"></textarea><br />
        </form>
      </div>
    </div>
  </div>
</script>
